
@{
    ViewBag.Title = "Create";
}

<a href="/student/create">Create</a>
<a href="/student/index">List</a>
<a href="/student/details">Details</a>

<h2>Create</h2>
<form>
    <input type="text" class="form-control" placeholder="Name" />
    <input type="text" class="form-control" placeholder="Id" />
    <input type="text" class="form-control" placeholder="Cgpa" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

