<table class="table table-bordered">

    <tr>
        <th>Sl</th>
        <th>Label</th>
        <th>Result</th>
    </tr>
    <tr>
        <td>1</td>
        <td>SSC</td>
        <td>4.56</td>
    </tr>
    <tr>
        <td>1</td>
        <td>SSC</td>
        <td>4.56</td>
    </tr>
    <tr>
        <td>1</td>
        <td>SSC</td>
        <td>4.56</td>
    </tr>
</table>
